h1 {
    color: rgb(110, 229, 6);
}

/* ESTOS CLASS SON LOS QUE COMPONEN EL AMBIENTE DEL JUEGO*/
#caja {
    height: 100%;
    width: 100%;
    border: solid black 2px;
    margin: 5px;
    overflow: hidden;
    position: relative;
    background-image: url("../img/city/cielo_naranja.jpg");
    animation: cielo 25s linear infinite;
}

@keyframes cielo {
    0% {
        background-position: -897px
            /*-897*/
    }

    100% {
        background-position: 0px
    }
}

#entorno {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1090px;
    height: 300px;
    /*300px*/
    position: relative;
    background-image: url("../img/city/fondo_test.png");
    background-size: cover;
    animation: ambiente 20s infinite linear;
}

@keyframes ambiente {
    0% {
        background-position: 0px
    }

    100% {
        background-position: -2173px
    }
}

/*---------- MENU -----------------------*/
/*menu inspirado en : https://codier.io/creation/r1N5k_gbH*/
.menu {
    width: 50%;
    margin-left: 8%;
    margin-top: 10px;
    height: 90%;
    border-radius: 5%;
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(77, 80, 227);
}

#botones {
    display: flex;
    justify-content: center;
}

#play_juego,
#instrucciones_game {
    margin: 7px;
    text-align: center;
    margin-top: 25px;
    /*margin-top: 12px con este se acomoda con el informe*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: rgb(11, 234, 26);
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(255, 139, 253, 0);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(255, 139, 253, 0);
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    border: 3px double #FF4294;
    border-radius: 35%;
    color: #00004A;
    font-family: 'Luckiest Guy', cursive;
    font-size: 20px;
}

#play_juego:active {
    background-color: #2980b9;
    /* Cambia el color de fondo cuando se presiona */
    transform: scale(0.95);
    /* Reduce ligeramente el tamaño cuando se presiona */
}

#instrucciones_game:active {
    background-color: #2980b9;
    transform: scale(0.95);
}

.informe_juego {
    display: none;
    color: rgb(220, 243, 224);
    margin-top: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
    margin-left: 5%;
    background-color: #9f0c0c;
    width: 90%;
    /* 90% del contenedor principal */
    height: 50%;
    /* 50% del contenedor principal */
    overflow: auto;
    word-wrap: break-word;
    white-space: normal;

}

#instrucciones {
    width: 40%;
    /* Establece el ancho del contenedor de instrucciones */
    margin: 0 auto;
    /* Centra el contenedor horizontalmente */
    display: none;
    height: 80%;
    background: #000;
    color: #0f0;
    /* Color de texto verde estilo Matrix */
    font-family: 'Courier New', monospace;
    /* Fuente estilo máquina de escribir */
    padding: 20px;
    perspective: 800px;
    border: 2px solid #0f0;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    overflow: auto;
    word-wrap: break-word;
    white-space: normal;
}

#instrucciones h2 {
    font-size: 24px;
}

#instrucciones h3 {
    font-size: 16px;
    margin: 10px 0;
}

#instrucciones p {
    list-style: none;
    padding: 0;
}

#instrucciones h2,
#instrucciones h3,
#instrucciones p {
    animation: matrixEffect 6s infinite;
    /* Aplicar el efecto de parpadeo */
}

/* Efecto de grinch estilo Matrix para el texto */
@keyframes matrixEffect {

    0%,
    100% {
        transform: rotateY(10deg);
        /*  Efecto 3D normal */
        box-shadow: 0 0 20px rgba(0, 128, 0, 0.5);
        /* Sombra normal */
    }

    50% {
        transform: rotateY(-10deg);
        /* Efecto Grinch: inversión de la rotación */
        box-shadow: 0 0 20px rgba(32, 24, 179, 0.5);
        /* Cambio de color de la sombra a rojo */
    }
}

#instrucciones:hover {
    transform: rotateY(10deg);
    /* Girar ligeramente en el eje Y para simular profundidad */
    box-shadow: 0 0 50px rgba(0, 128, 0, 0.5);
    /* Agregar una sombra más pronunciada */
}

/*@keyframes moverCorazones {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}*/

/*viejos keyframes para que salte y caiga el personaje*/
/* animation: saltar 2s cubic-bezier(0.3, 0.5, 0.9, 1.2) forwards; */

/*.saltar {
   animation: caer 2s cubic-bezier(0.2, 0.8, 1.0, 1.5) forwards;

} 

.caer {
    animation: caer 2s cubic-bezier(1.0, 1.0, 0.4, 0.1) forwards;
}
@keyframes saltar {
    from {
        bottom: 3%;
    }
    to {
        bottom: 70%;
    }
}
@keyframes caer {
    from {
        bottom: 70%;
    }
    to {
        bottom: 3%;
    }
}
*/