body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  color: #241f20;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 32px !important;
  font-weight: bold !important;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  background: #ab2930;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

header img {
  max-width: 100%;
  margin: 15px;
  width: 40px;
  height: 40px;
}

.logo_museo {
  width: 10%;
  height: 5%;
  border-radius: 100%;
}

.menu {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  z-index: 2;
}

nav div {
  display: inherit;
  justify-items: end;
}

nav ul {
  list-style: none;
  overflow: hidden;
  margin: auto;
  margin-right: 15px;
}

nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
  border-bottom: solid 3px transparent;
  margin: auto 15px;
}

nav ul li a {
  list-style: none;
  display: block;
  color: #fefdfd;
  margin: 5px 0px;
  padding: 0px 15px;
  padding: 0;
  text-decoration: none;
}

nav ul li:hover {
  cursor: pointer;
  border-bottom: 3px solid #fefdfd;
}
 
nav ul li.active {
  cursor: pointer;
  border-bottom: 3px solid #fefdfd; /* Estilo para el enlace activo */
}
main {
  align-items: center;
  text-align: left;
  font-family: "Roboto", sans-serif;
  max-width: 150vh;
  width: 100%;
  padding: 20px;
  min-height: 100vh;
}

.container {
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
  border-radius: 20px;
  box-shadow: 5px 8px 12px #ab2930;
  background-color: #241f20;
}

.container h4 {
  width: 100%;
  font-size: 20px;
  color: #fefdfd;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  padding-bottom: 50px;
}

.container h4 span {
  display: block;
  margin: 7% 30px 7% 20%;
  ;
  word-wrap: break-word;
}

.container h5 {
  width: 100%;
  font-size: 16px;
  color: #fefdfd;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  padding-bottom: 50px;
}

.container h5 span {
  width: 400px;
  display: block;
  margin: 7% 20px 7% 35%;
  word-wrap: break-word;
}

.img_principal {
  overflow: hidden;
  position: relative;
}

.img_principal>img {
  max-width: 100%;
  height: auto;
}

.img_principal h3 {
  display: block;
  border: solid 3px #fefdfd;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #241f20;
  color: #fefdfd;
  position: sticky;
  padding: 10px;
  bottom: 10%;
  text-align: center;
}

.btn_login {
  background: none;
  font-size: 16px;
  border: none;
  padding: 15px;
  border-radius: 5px;
  margin: auto;
}

.btn_loged {
  background: none;
  font-size: 16px;
  border: none;
  padding: 15px;
  border-radius: 5px;
  margin: auto;
}

.contenido {
  margin: 20px 0;
}

/***SECCION PARA HOME RESPONSIVE***/
@media screen and (max-width: 550px) {

  header {
    text-align: end;
    width: 100%;
    background: #ab2930;
    right: 0;
    z-index: 1;
    position: absolute;
  }

  .logo_museo {
    width: 20%;
    height: 20%;
  }

  .btn_login {
    display: none;
  }

  nav .menu {
    background: none;
    display: flex;
    border: 0px;
  }

  button:hover {
    background-color: #ac797b;
  }

  nav {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
  }

  nav div {
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
  }

  nav ul {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ab2930;
    margin: auto;
    padding: 0;
    flex-direction: column;
  }

  nav ul li {
    display: block;
  }

  nav .menu.active+ul {
    display: flex !important;
  }

  p>img {
    width: 70%;
  }

  .img_principal>img {
    margin-top: 20px;
    max-width: 100%;
    height: 200px;
  }

  .img_principal h3 {
    width: 90%;
  }

  main {
    max-width: 100vh;
    width: 90%;
    padding: 20px;
  }
}



/*****SECCION PARA GALERIA*****/
.galeria_sala {
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  border: 1px solid #ab2930;
}

.galeria_sala>img {
  width: 50%;
}

.galeria_sala h3 {
  width: 350px;
  font-size: 18px;
  color: #241f20;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  padding-bottom: 50px;
}

.banner {
  width: 100%;
  height: 50%;
}

/**SECCION PARA EL FORMULARIO**/
#formulario {
  width: 400px;
  margin: 30px;
  background: #fefdfd;
  display: block;
  /* Ocultar el formulario por defecto */
  border: solid 2px #ab2930;
  border-radius: 10%;
}

/* Estilos para el título del formulario */
#formulario h1 {
  text-align: center;
  font-size: 24px;
  color: #241f20;
}

/* Estilos para el formulario */
#formulario form {
  padding: 20px;
}

/* Estilos para las etiquetas del formulario */
#formulario label {
  display: block;
  margin-bottom: 10px;
  color: #241f20;
  font-weight: bold;
}

/* Estilos para los campos de texto del formulario */
#formulario input {
  width: 100%;
  height: 30px;
  border: 1px solid #241f20;
  margin-bottom: 20px;
  background-color: #fefdfd;
}

/* Estilos para los botones del formulario */
#iniciar_sesion {
  width: 150px;
  height: 56px;
  background: #54ac5d;
  border-radius: 10%;
  color: #fefdfd;
  cursor: pointer;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

#cerrar_formulario {
  width: 3%;
  position: absolute;
  top: 8%;
  right: 33%;
  background-color: #ab2930;
  border-radius: 5%;
  padding: 10px 10px;
  cursor: pointer;
}

#formulario span {
  text-decoration: none;
  color: #fefdfd;
}

#mensaje_error {
  font-weight: bold;
  display: flex !important;
  justify-content: center; 
}

/*-----SECCION FOOTER-----*/
footer {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #241f20;
  height: 150px;
  width: 100%;
  margin-bottom: auto;
}

footer a {
  padding: 10px;
  margin-right: 48px;
}

.buttons {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}

.buttons a {
  text-decoration: none;
  font-size: 20px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background: #fefdfd;
  color: #241f20;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
}

.buttons a:hover {
  transform: scale(1.2);
}

footer #copy {
  margin-top: 22px;
  border-top: solid 1px #fefdfd;
  width: 80%;
}

footer p {
  color: #fefdfd;
  text-align: center;
  margin-top: 16px;
}