img{
    position: relative;
}
.redes_sociales{
    display: flex;
    margin-top: 10px;
}

.box_redSocial{
    margin: auto;
}

.box_redSocial a{
    font-size: 30px;
    text-decoration: none;
    color: #ab2930;
    
}

.barra_contacto{
    width: 100%;
    background-color: #241f20;
    color: #fefdfd;
    padding: 5px;
    margin: auto;
}

.btn_excursion{
    padding: 20px;
    color: #fefdfd;
    background-color: green;
    border-radius: 20%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.error {
    background-color: #ffcccc ; /* Fondo de color rojo tenue */
    color: #241f20; /* Color de texto rojo */
    padding: 8px; /* Espaciado interno para mejorar la legibilidad */
    margin-top: -14px; /* Espaciado superior para separar el mensaje del campo */
    width: 100%; /* Ancho igual al 100% del contenedor padre */
    box-sizing: border-box; /* Incluye el padding en el cálculo del ancho */
    border-radius: 5px; /* Bordes redondeados */
  }
  .contenedor>.oculto {
    display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #dff0d8; /* Color de fondo verde tenue */
  color: #3c763d; /* Color de texto verde oscuro */
  padding: 15px;
  border: 1px solid #d6e9c6; /* Borde verde más oscuro */
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
.contenedor {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fefdfd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #241f20;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
}

textarea {
    padding: 8px;
    margin-bottom: 16px;
}

section {
    padding: 8px;
    margin-bottom: 16px;
}

 

#captcha {
    width: 50px;
    height: 50px;
    align-items: center;
}

#sc_captcha {
    margin: auto;
}