
.navegador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 2;
}

.navegador> ul {
    list-style: none;
    overflow: hidden;
}

.navegador> ul> li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.navegador> ul> li> a {
    list-style: none;
    display: block;
    color: #f2eaea;
    margin: 15px;
    padding: 0;
    text-decoration: none;
}
  .navegador> ul> li:hover {
    background: #0b0b0b;
}
/*-----SECCION FOOTER-----*/
.footer_g {
    display: flex;
    justify-content: flex-start;
    background-color: cadetblue;
    height: 100px;
    width: 100%;
}

.footer_g> a {
    padding: 10px;
    margin-right: 10px;
}

.footer_g> img {
    width: 30px;
    height: 30px;
}