.navegador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    z-index: 2;
}

.navegador div {
    display: inherit; 
    justify-items: end;
}
.navegador ul {
    list-style: none;
    overflow: hidden;
    margin: auto;
    margin-right: 15px;

}

.navegador ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border-bottom: solid 3px transparent;
    margin: auto 15px;
}

.navegador ul li a {
    list-style: none;
    display: block;
    color: #f2eaea;
    margin: 5px 0px;
    padding: 0px 15px;
    padding: 0;
    text-decoration: none;
}

.navegador ul li:hover {
    
    cursor: pointer;
    border-bottom: 3px solid #f2eaea;
}


/*-----SECCION FOOTER-----*/
.footer_g {
    display: flex;
    justify-content: flex-start;
    background-color: #ab2930;
    height: 100px;
    width: 100%;
}

.footer_g>a {
    padding: 10px;
    margin-right: 10px;
}

.footer_g>img {
    width: 30px;
    height: 30px;
}