body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* Ajustamos la dirección principal a columna */
    align-items: center;
    text-align: left;
    color: #241f20;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

header {
    text-align: center;
    width: 100%;
    background: #ab2930;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    /* Color de fondo del encabezado */
}

header img {
    max-width: 100%;
    margin: 15px;
    width: 60px;
    height: 60px;
    border-radius: 54%;
}

.logo_museo {
    width: 10%;
    height: 5%;
    border-radius: 100%;
    /*border: 2px solid #241f20;*/
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    z-index: 2;
}
nav div {
    display: inherit; 
    justify-items: end;
}
nav ul {
    list-style: none;
    overflow: hidden;
    margin: auto;
    margin-right: 15px;

}

nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border-bottom: solid 3px transparent;
    margin: auto 15px;
}

nav ul li a {
    list-style: none;
    display: block;
    color: #f2eaea;
    margin: 5px 0px;
    padding: 0px 15px;
    padding: 0;
    text-decoration: none;
}

nav ul li:hover {
    
    cursor: pointer;
    border-bottom: 3px solid #f2eaea;
}

main {
    align-items: center;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    max-width: 800px;
    /* O ajusta según tus necesidades */
    width: 100%;
    padding: 20px;
    min-height: 100vh;

}

.container {
    overflow: hidden;
    position: relative;
    margin: 50px auto;
    margin-bottom: 200px;
    border-radius: 20px;
    box-shadow: 5px 8px 12px #ab2930;
    background-color: #241f20;
}

.container h4 {
    width: 100%;
    font-size: 20px;
    color: #f2eaea;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    padding-bottom: 50px;
}

.container h4 span {
    display: block;
    margin: 10%;
}

.img_principal {
    position: relative;
    margin: 20px;
}

.img_principal>img {
    max-width: 100%;
    height: auto;
}

/* .img_principal>.text_horario {
    position: absolute;
    top: 108%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    background-color: rgba(173, 17, 17, 0.8);
    padding: 8px;
}*/
.img_principal .text_horario {
    display: block;
    border: solid 3px #fefdfd;
    width: 100%;
    font-family: monospace;
    background-color: #241f20;
    color: #fefdfd;
}

.btn_login {
    background-color: #241f20;
    color: #fefdfd;
    font-size: 16px;
    border: none;
    padding: 15px;
    border-radius: 5px;
   margin: auto;
}

.contenido {
    margin: 20px 0;
}

/*****SECCION PARA GALERIA*****/
.galeria_sala {
    display: flex;
    height: 300px;
}

.galeria_sala>img {
    width: 50%;
}

.galeria_sala>.text {
    width: 50%;
}

.banner {
    width: 100%;
    height: 50%;
}

/*-----SECCION FOOTER-----*/
footer {
    display: flex;
    justify-content: flex-start;
    background-color: #ab2930;
    height: 100px;
    width: 100%;
}

footer a {
    padding: 10px;
    margin-right: 10px;
}

footer img {
    width: 30px;
    height: 30px;
}

.buttons {
    min-width: 700px;
    display: flex;
    justify-content: space-around;
}

.buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}

.buttons a:hover {
    transform: scale(1.2);
}