img{
    position: relative;
}
.redes_sociales{
    display: flex;
    margin-top: 10px;
}

.box_redSocial{
    margin: auto;
}

.box_redSocial a{
    font-size: 30px;
    text-decoration: none;
    color: #ab2930;
    
}

.barra_contacto{
    width: 100%;
    background-color: #241f20;
    color: #fefdfd;
    padding: 5px;
    margin: auto;
}

.btn_excursion{
    padding: 20px;
    color: #fefdfd;
    background-color: green;
    border-radius: 20%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
 img:hover{
    filter: blur(5px);

}

.contenedor {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fefdfd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #241f20;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
}

textarea {
    padding: 8px;
    margin-bottom: 16px;
}

section {
    padding: 8px;
    margin-bottom: 16px;
}

button {
    max-width: 500px;
    background-color: #d9bdbd;
    color: #241f20;
    padding: 10px;
    border: 1px solid #241f20;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
}

button:hover {
    background-color: #ac797b;
}

#captcha {
    width: 50px;
    height: 50px;
    align-items: center;
}

#sc_captcha {
    margin: auto;
}