.redes_sociales{
    display: flex;
    margin-top: 10px;
}
.box_redSocial{
    margin: auto;
}
.box_redSocial a{
    font-size: 30px;
    text-decoration: none;
    color: #ab2930;
}
.barra_contacto{
    width: 100%;
    background-color: #939589;
    color: aliceblue;
    padding: 5px;
}