            body {
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                /* Ajustamos la dirección principal a columna */
                align-items: center;
                text-align: left;
                font-family: 'Roboto', sans-serif;
            }
            header {
                text-align: center;
                width: 100%;
                background: #ab2930;
                top: 0;
                left: 0;
                right: 0;
                z-index: 1;
                /* Color de fondo del encabezado */
            }

            header img {
                max-width: 100%;
                margin: 15px;
                width: 60px;
                height: 60px;
                border-radius: 54%;
            }

            nav {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                z-index: 2;
            }

            nav ul {
                list-style: none;
                overflow: hidden;
            }

            nav ul li {
                float: left;
                font-family: Arial, sans-serif;
                font-size: 20px;
            }

            nav ul li a {
                list-style: none;
                display: block;
                color: #f2eaea;
                margin: 15px;
                padding: 0;
                text-decoration: none;
            }
            nav ul li:hover {
                background: #0b0b0b;
            }

            main {
                align-items: center;
                text-align: left;
                font-family: 'Roboto', sans-serif;
                max-width: 800px;
                /* O ajusta según tus necesidades */
                width: 100%;
                padding: 20px;
                min-height: 100vh;

            }

            .img_principal {
                position: relative;
                margin: 20px;
             }

            .img_principal> img {
                max-width: 100%;
                height: auto;
            }

           /* .img_principal>.text_horario {
                position: absolute;
                top: 108%;
                left: 50%;
                width: 100%;
                transform: translate(-50%, -50%);
                background-color: rgba(173, 17, 17, 0.8);
                padding: 8px;
            }*/
            .img_principal .text_horario {
                display: block;
                border:solid 3px #fefdfd;
                width: 100%;
                font-family:  monospace;
                background-color: #241f20;
                color:#fefdfd;
              }

            .btn_login {
                background-color:#241f20;
                color: #fefdfd;
                font-size: 16px;
                border: none;
                padding: 15px;
                border-radius: 5px;
                margin-left: 350px;
            }

            .contenido {
                margin: 20px 0;
            }

            /*****SECCION PARA GALERIA*****/
            .galeria_sala {
                display: flex;
                height: 300px;
            }

            .galeria_sala>img {
                width: 50%;
            }
            .galeria_sala>.text {
                width: 50%;
             }
             .banner{
                width: 100%;
                height: 50%;
             }
            /*-----SECCION FOOTER-----*/
            footer {
                display: flex;
                justify-content: flex-start;
                background-color: #ab2930;
                height: 100px;
                width: 100%;
            }
            footer a {
                padding: 10px;
                margin-right: 10px;
            }
            footer img {
                width: 30px;
                height: 30px;
            }